body {
	font font-family: "segoe ui";
}
h1 {
	text-align: center;
}

img	{
	width: 50;
}
section {
	width: 604px;
}
article {
	width: 282px;
	height: 177px;
	margin-right: 20px;
	margin-bottom: 103px;
	float: left;
}
img {
	width: 282px;
}
a {
	font-family: tahoma;
	font-weight: bold;
	display: block;
	font-size: 18px;
	line-height: 28px;
	color:#2d2d2d;
	text-decoration: none;
}
a:hover {
	color: orange;
}