body div {
	font font-family: "segoe ui";
}
h1 {
	text-align: center;
}

h1 img	{
	width: 50;
}
section div p {
	font-size: 14px;
	width: 282px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-family: tahoma;
}
section div a {
	font-size: 14px;
	width: 282px;
	margin-right: 20px;
	font-family: tahoma;
}

section div img {
	float: right;
	width: 282px;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 177px;
}

section {
	width: 604px;
}

article {
	width: 282px;
	height: 177px;
	margin-right: 20px;
	margin-bottom: 103px;
	float: left;
}
article img {
	width: 282px;
}
a {
	font-family: tahoma;
	font-weight: bold;
	display: block;
	font-size: 18px;
	line-height: 28px;
	color:#2d2d2d;
	text-decoration: none;
}
a:hover {
	color: orange;
}